<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <section class="voz-header">
        <h1>Reconocedor de voz para Python</h1>
        <p>Creado con fines educativos</p>
    </section>
    <section class="voz-body">
        <img src="{{ url_for('static', filename='img/microfono.png') }}" id="startButton">
        <textarea name="" id="txtReconocido" cols="30" rows="10"></textarea>
        <span id="load"></span>
        <h2 class="success-message" id="msgSuccess">Succes!!!</h2>
        <h2 class="error-message" id="msgError">No se pudo :(</h2>

    </section>
    <section class="voz-footer">
        <span>copyrigth@ 2023 - PyVoz</span>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/cliente.js') }}"></script>
</body>
</html>